name: Deploy Player FC API

on:
  push:
    branches: [feature/github-actions]

env:
  AWS_REGION: af-south-1

permissions:
  id-token: write
  contents: read

jobs:
  Test:
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.12, 3.13]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        working-directory: ./
        run: |
          pip install -r requirements.txt

      - name: Test with pytest
        working-directory: ./tests
        run: |
          pip install pytest
          pytest test_player.py

  Deploy:
    needs: [Test]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v5
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
          cache: "pip"

      - name: Install Python dependencies
        working-directory: ./iac
        run: |
          pip install -r requirements.txt

      - name: Install AWS CDK
        run: npm install -g aws-cdk

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5.1.0
        with:
          aws-region: ${{ env.AWS_REGION }}
          role-to-assume: ${{ secrets.ROLE_TO_ASSUME }}
          role-session-name: GitHub_Actions_to_AWS_OIDC
          mask-aws-account-id: true
      - name: Deploy CDK stack
        working-directory: ./iac
        run: cdk deploy --require-approval never
